/var/cache/*
/var/sessions/*
!var/cache/.gitkeep
!var/sessions/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/bootstrap.php.cache
/vendor/
/public/uploads/songs/*
/composer.lock
**/Entity/*~
/backup/external/songs/*
/backup/external/setlists/*
/backup/external/instruments/*
/backup/local/songs/*
/backup/local/setlists/*
/backup/local/instruments/*
!/backup/external/songs/.gitignore
!/backup/external/setlists/.gitignore
!/backup/external/instruments/.gitignore
!/backup/local/songs/.gitignore
!/backup/local/setlists/.gitignore
!/backup/local/instruments/.gitignore
/nbproject
